.content ul.artists-list {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

.artist-bar-container,
.artist-percent,
.artist-play-count {
  display: inline-block;
  vertical-align: middle;
}

.artist-bar-container {
  position: relative;
  margin-right: 10px;
}

.artist-bar {
  @include display-flex;
  background-color: #72903A;
  height: 9px;
  border-radius: 2px;
  overflow: hidden;
}

.artist-percent,
.artist-play-count {
  font-size: 0.8em;
}

.artist-percent {
  &:before,
  &:after {
    content: "\a0";
  }
}

.artist-play-count{
  &:after {
    content: "\a0\b7";
  }
}

.column.artist-column {
  padding-top: 0;
  padding-bottom: 0.25rem;
}

.button.artist-name-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  text-align: right;
  height: auto;
  padding-top: 0.25em;
  text-decoration: none;
}

.artists-chart-title.subtitle:not(:last-child) {
  margin-bottom: 0.3em;
}

.percent-cutoff {
  font-weight: 700;
  display: inline-block;
}

.artist-list-controls {
  position: relative;
  padding: 30px;
  margin-bottom: 2em;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.change-week-link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px 5px;
}

.artist-external-link {
  font-size: 0.9em;
  position: absolute;
  right: 0;
  top: 0.4em;
  display: block;

  .fa {
    font-size: inherit;
  }
}

.track-image {
  border-radius: 4px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.artist-list-item {
  position: relative;
}

.content ul.tracks-list {
  margin-bottom: 1.75rem;
}

.artist-chart-columns {
  margin-bottom: 0;
}
