.subtitle .button.is-link {
  text-decoration: none;
  font-size: inherit;
  height: auto;
  vertical-align: middle;
  padding: 0 0.1em;
}

.button .fa {
  font-size: 0.8em;
  vertical-align: baseline;

  &:after {
    content: "\a0";
  }
}

a .fa {
  font-size: inherit;
}

.fa.fa-chevron-down {
  position: relative;
  top: -0.2em;
}

.fa.fa-chevron-right {
  position: relative;
  top: 0.1em;
}

.fa.fa-angle-left,
.fa.fa-angle-right {
  position: relative;
  top: 0.05em;
}
